@import '~/assets/css/_ress.css';

.page-enter-active,
.page-leave-active {
    transition: opacity 1s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

html {
    font-size: 10px;

    @media (max-width: 768px) {
        font-size: clamp(13px, calc(8px + 0.6vw), 10px);
    }
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    position: relative;
    background-color: #071e22;
}

.contents {
    margin: 0 auto;
    padding: 0 5px;
    width: 100%;
    max-width: 1024px;
    background-color: #071e22;

    @media (max-width: 768px) {
        max-width: 768px;
    }
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #c37d2c;

    &:visited {
        color: #c37d2c;
    }

    &:hover {
        color: #f49d37;
    }
}

h1 {
    font-size: 2.8rem;
    line-height: 1.2em;

    @media (max-width: 768px) {
        font-size: 3.36rem;
    }
}

h2 {
    margin: 4.8rem 0 2.4rem;
    font-size: 2.8rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 3.36rem;
    }
}

h2::after {
    content: "―";
    color: #f49d37;
    display: block;
    text-align: center;
}

h3 {
    margin: 4.8rem 0 2.4rem;
    font-size: 2.08rem;
    line-height: 1.92em;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 2.704rem;
    }
}

h4 {
    margin: 4.8rem 0 2.4rem;
    font-size: 1.92rem;
    line-height: 1.92em;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 2.496rem;
    }
}

h5 {
    margin: 4.8rem 0 2.4rem;
    font-size: 1.76rem;
    line-height: 1.92em;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 2.288rem;
    }
}

h6 {
    margin: 4.8rem 0 2.4rem;
    font-size: 1.6rem;
    line-height: 1.92em;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 2.08rem;
    }
}

p {
    padding: 0.8rem 0;
    font-size: 1.6rem;
    line-height: 1.75em;
    text-align: justify;
    text-align-last: left;

    @media (max-width: 768px) {
        font-size: 2.08rem;
    }
}

ul {
    margin: 2.4rem auto;
}

li {
    margin: 0.8rem 0 0.8rem 2.4rem;
    list-style: none;
    font-size: 1.6rem;
    line-height: 1.5em;

    @media (max-width: 768px) {
        font-size: 2.08rem;
    }
}

li::before {
    margin-right: 0.5rem;
    content: '●';
    color: #2c2c2c;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5em;
    position: relative;
    top: -0.3rem;

    @media (max-width: 768px) {
        font-size: 1.04rem;
    }
}

blockquote {
    margin: 2.4rem;
    border-left: solid 5px #2c2c2c;
    font-style: oblique;
    font-size: 1.5rem;

    @media (max-width: 768px) {
        font-size: 1.95rem;
    }
}

code {
    padding: 0.3em 0.7em;
    background-color: #2c2c2c;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: #d9d9d9;

    @media (max-width: 768px) {
        font-size: 1.82rem;
    }
}

pre {
    margin: 2.4rem auto;
    padding: 1.8rem 1.6rem;
    overflow: hidden;
    overflow-x: scroll;
    color: #d9d9d9;
    font-size: 1.4rem;
    line-height: 1.8rem;
    white-space: pre-wrap;
    background-color: #2c2c2c;
    border-radius: 0.5rem;

    @media (max-width: 768px) {
        font-size: 1.82rem;
    }

    code {
        padding: 0;
    }
}

table {
    margin: 2.4rem auto;
    border-collapse: collapse;

    th,
    td {
        padding: 0.8rem;
        border-bottom: solid 1px #2c2c2c;
    }
}

.cf:after {
    content: " ";
    display: block;
    clear: both;
}

.page_top {
    padding: 1%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    background: #000;

    @media (max-width: 768px) {
        font-size: 1.04rem;
    }
}

@media (max-width:1024px) {
    html {
        font-size: calc(10 / 1024 * 100vw);
    }
}

@media (max-width:768px) {
    html {
        font-size: calc(10 / 768 * 100vw);
    }
}